* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    background-color: #f2f2f2; 
}

h1, p {
    margin: 20px auto;
    margin-top: 10px;
    text-align: center;
    color: #333; 
}

/* Contenedor principal */
.main-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0;
}

/* formulario */
.form-container {
    width: 50%; 
    min-height: 470px; 
    background-color: #fff; 
    margin: 15px auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
}

/*  título del formulario */
.form-container h2 {
    margin-top: 20px; 
    font-weight: 400; 
    font-size: 24px; 
    color: #333;
    text-align: center;
}

/*  etiquetas */
label {
    text-align: left; 
    margin-top: 15px; 
    margin-bottom: 5px;
    font-weight: 600;
    color: #666;
    display: block; 
}

input {
    margin: 5px 0; 
    width: calc(100% - 30px);
    height: 50px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 0 15px; 
    transition: border-color 0.3s ease; 
    box-sizing: border-box; 
}

/* botón de enviar */
.div-submit {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.div-submit > input[type="submit"] {
    width: auto; 
    padding: 10px 20px;
    background-color: #1b7dda; 
    color: #fff; 
    border: none; 
    cursor: pointer;
    margin: 0 5px; 
}

.div-submit > input[type="submit"]:hover {
    background-color: #125ea8; 
}

.filter-container > input[type="text"] {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.filter-container > input[type="text"]:focus {
    border-color: #1b7dda;
}

/* tabla */
.container {
    width: 100%;
    margin: 15px;
    padding: 0 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1b7dda;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr {
    transition: 0.3s ease; 
}

tbody tr:hover {
    background-color: #b3b2b2; 
}

input[type="button"]:hover {
    background-color: #1b7dda;
    color: #fff;
    transition: background-color 0.3s ease;
}